.gradient-custom-3 {
    /* fallback for old browsers */
    /* background: #84fab0; */
    background-image: url("../login/backgroundimg.jpg");
    /* background-position: ; */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)) */
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    /* background: #84fab0; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)) */
    }
    .btn-success{
        color: #fff !important;
    }
    .logo{
       position: absolute;
    }
    .bg-image{
        overflow: hidden;
    }
    /* *{
        overflow-x: hidden;
    } */
    .text-uppercase {
        overflow: hidden;
    }
    .col-xl-6{
        width: 40% !important;
        margin-top: 10px;
    }